:root {
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --grayish-blue-lighter: hsl(201, 11%, 90%);
  --light-blue: hsl(58, 90%, 30%);
  --light-blue-darker: hsl(58, 100%, 40%);
  --strong-cyan: hsl(40, 96%, 11%);
  --strong-cyan-darker: hsl(40, 96%, 25%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}

header {
  align-items: center;
  background-image: url('../images/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 70vh;
}

.logo {
  height: 125px;
  width: 250px;
}

.logo img {
  height: 100%;
  width: 100%;
}

.title {
  color: var(--dark-grayish-blue);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 0 1rem;
  text-align: center;
}

.description {
  color: var(--grayish-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75rem;
  padding: 0 1rem;
  text-align: center;
}

.ctas {
  margin: 2rem 0;
  padding: 1rem;
}

.cta {
  background: var(--dark-grayish-blue);
  border-radius: 3rem;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600px;
  letter-spacing: 0.5px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.cta:active {
  transition-duration: 3ms;
  transform: scale(0.98);
}

.cta.ios-link {
  background: var(--strong-cyan);
  border-bottom: 4px var(--strong-cyan-darker) solid;
}

.cta.mac-link {
  background: var(--light-blue);
  border-bottom: 4px var(--light-blue-darker) solid;
}

.track {
  margin-top: 6rem;
}

.track .description {
  padding: 0 2rem;
}

.trackers {
  margin-top: 2rem;
  padding: 0 1rem;
}

.track-tv-image {
  height: 600px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.track-tv-image img {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}

.snippets {
  list-style-type: none;
  margin-top: 2rem;
}

.subtitle {
  font-size: 26px;
}

.snippet {
  margin: 2rem 0;
  padding: 1rem 0;
}

.supercharge {
  margin: 6rem 0;
}

.supercharge .description {
  padding: 0 2rem;
}

.workflows {
  list-style-type: none;
  margin-top: 2rem;
}

.workflow {
  margin: 2rem 0;
  padding: 1rem 0;
}

.icon-image {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

footer {
  background-color: var(--grayish-blue-lighter);
}

.footer-container {
  margin-top: 6rem;
  padding: 3rem;
}

.footer-container .logo-image {
  height: 60px;
  width: 120px;
}

.footer-container .logo-image img {
  height: 100%;
  width: 100%;
}

.logo-image-container {
  display: flex;
  justify-content: center;
}

.links {
  list-style-type: none;
  margin: 1rem 0;
}

.link {
  display: block;
  margin: 1.5rem 0;
  text-align: center;
}

.link a {
  color: var(--dark-grayish-blue);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.socials {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}

.socials a {
  margin: 0 1.25rem;
}

@media (min-width: 1024px) {
  header {
    background-image: url('../images/bg-header-desktop.png');
  }

  .ctas {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .cta {
    margin: 0 0.5rem;
    padding: 1rem 3rem;
    width: auto;
  }

  .title {
    font-size: 36px;
  }

  .description {
    font-size: 18px;
    max-width: 55%;
    margin: 0 auto;
  }

  .subtitle {
    font-size: 24px;
  }

  .trackers {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }

  .snippets {
    margin: 0;
    width: 45%;
  }

  .snippet {
    margin: 0 1.5rem;
  }

  .snippet .description {
    font-size: 16px;
    margin-left: 0;
    max-width: 90%;
    padding-left: 0;
    text-align: left;
  }

  .snippet .title {
    padding-left: 0;
    text-align: left;
  }

  .track-tv {
    width: 50%;
  }

  .access-computer-image {
    margin: 3rem auto 0 auto;
  }

  .workflows {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .workflow {
    margin: 0;
    padding: 0;
    width: 33%;
  }

  .workflow .description {
    font-size: 16px;
    margin: 0;
    max-width: none;
    width: 100%;
  }

  .footer-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
  }

  .logo-image-container {
    justify-content: flex-start;
    width: 20%;
  }

  .links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 60%;
  }

  .link {
    margin: 0.5rem 0;
    text-align: left;
    width: 33%;
  }

  .socials {
    justify-content: flex-end;
    margin: 0;
    width: 20%;
  }

}

@media (min-width: 640px) {
  main {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  main {
    max-width: 768px;
  }

  .footer-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1024px;
  }

  .footer-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  main {
    max-width: 1280px;
  }

  .footer-container {
    max-width: 1280px;
  }
}

@media (min-width: 1440px) {
  main {
    max-width: 1440px;
  }

  .footer-container {
    max-width: 1440px;
  }
}

@media(min-width: 1536px) {
  main {
    max-width: 1536px;
  }

  .footer-container {
    max-width: 1536px;
  }
}