
<!-- Stay Organized with Your Task History -->
<section class="history">
  <h1 class="title">
    Stay Organized with Your Task History
  </h1>
  <p class="description">
    Manage and organize all your tasks effortlessly. <br />
    Instantly access your to-do list on any iOS device.
  </p>
  <div class="ctas">
    <a href="#" class="cta ios-link">
      Download for iPhone
    </a>
    <a href="#" class="cta mac-link">
      Download for iPad
    </a>
  </div>
</section>

<!-- Keep track of your tasks -->
<section class="track">
  <h1 class="title">
    Keep track of your tasks
  </h1>
  <p class="description">
    MicroTodo app instantly stores your tasks in the cloud, ensuring you can access your to-do list immediately on all your devices. Our iPhone and iPad apps help you stay organized everywhere.
  </p>
  <div class="trackers">
    <div class="track-tv">
      <div class="track-tv-image">
        <img src="images/get-started.png" alt="computer">
      </div>
    </div>
    <ul class="snippets">
      <li class="snippet">
        <h2 class="title subtitle">Quick Search</h2>
        <p class="description">
          Easily search your tasks by content, category, due date, priority, and more.
        </p>
      </li>
      <li class="snippet">
        <h2 class="title subtitle">iCloud Sync</h2>
        <p class="description">
          Instantly saves and syncs tasks across any devices.
        </p>
      </li>
      <li class="snippet">
        <h2 class="title subtitle">Complete History</h2>
        <p class="description">
          Retrieve any task from the first moment you started using the app.
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- Supercharge your workflow -->
<section class="supercharge">
  <h1 class="title">
    Supercharge your workflow
  </h1>
  <p class="description">
    We&rsquo;ve got the tools to enhance your efficiency and get more done.
  </p>
  <ul class="workflows">
    <li class="workflow">
      <div class="icon-image">
        <img src="images/icon-blacklist.svg" alt="blacklist" />
      </div>
      <h2 class="title subtitle">
        Create Task Exclusions
      </h2>
      <p class="description">
        Ensure certain tasks or information are never added to your to-do list by excluding specific sources.
      </p>
    </li>
    <li class="workflow">
      <div class="icon-image">
        <img src="images/icon-text.svg" alt="Plain Text" />
      </div>
      <h2 class="title subtitle">
        Plain Text Tasks
      </h2>
      <p class="description">
        Remove unwanted formatting from task descriptions for a clean, consistent look.
      </p>
    </li>
    <li class="workflow">
      <div class="icon-image">
        <img src="images/icon-preview.svg" alt="Sneak Preview" />
      </div>
      <h2 class="title subtitle">
        Sneak Preview
      </h2>
      <p class="description">
        Quickly preview all your tasks for easy access and management.
      </p>
    </li>
  </ul>
</section>

<!-- MicroToDo App for iOS -->
<section class="history">
  <h1 class="title">
    MicroToDo App for iOS
  </h1>
  <p class="description">
    Available for free on the App Store. download for iPhone or iPad, sync with iCloud and you&rsquo;re readu to start managing your tasks.
  </p>
  <div class="ctas">
    <a href="#" class="cta ios-link">
      Download for iPhone
    </a>
    <a href="#" class="cta mac-link">
      Download for iPad
    </a>
  </div>
</section>
